.navbar-brand {
    /* margin-left: 100px; */
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 100px;
      
}

.header {
    text-align: center;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: gray;
}

.btn {
    box-align: center;
}

.search-bar {
    /* background-color:; */
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    background-image: url("http://i.ebayimg.com/images/g/BecAAOSwOgdYo4Fm/s-l1600.jpg");
    background-color: black;

    }